aiohttp~=3.11.14
# We are using current commit, because it is much fresher commit with updated whois servers (9 month newer)
# And it seems that author currently decided not to maintain his package (version 0.7.3 as of 10 May 2022)
python-whois~=0.9.5
aiodns~=3.2.0
