aiohttp~=3.8.1
# We are using current commit, because it is much fresher commit with updated whois servers (9 month newer)
# And it seems that author currently decided not to maintain his package (version 0.7.3 as of 10 May 2022)
python-whois@ git+https://github.com/nicopapamichael/whois@939e05d#egg=python-whois
aiodns~=3.0.0
